Repository Telmooo/miyazono: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell

chore: add markdownlint configuration
  .markdownlint-cli2.jsonc
  package.json
  yarn.lock
Due: prettier --write

chore: add scripts for formatting/linting
  package.json
  yarn.lock
Due: prettier --write

fix: change yarn nodeLinker to node-modules
  .prettierrc
  .yarnrc.yml
  yarn.lock
Due: prettier --write

style: reformat all files with prettier
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
  .vscode/settings.json
  astro.config.mjs
  cspell.yml
  eslint.config.mjs
  playwright.config.ts
  src/components/AnimatedGreeting.astro
  src/components/IconLinkCard.astro
  src/components/MusicalStaff.astro
  src/components/PetalEffect.astro
  src/components/Portal.astro
  src/components/PortalHub.astro
  src/components/StarryParticles.astro
  src/components/ThemeToggle.astro
  src/components/WaterReflection.astro
  src/components/Welcome.astro
  src/content.config.ts
  src/content/docs/wiki/awesome/index.mdx
  src/content/docs/wiki/awesome/linux.mdx
  src/content/docs/wiki/awesome/programming-languages/_meta.yml
  src/content/docs/wiki/awesome/programming-languages/index.mdx
  src/content/docs/wiki/awesome/programming-languages/python.mdx
  src/content/docs/wiki/awesome/vscode.mdx
  src/content/docs/wiki/linux/arch.mdx
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/leisure.astro
  src/pages/portfolio.astro
  src/styles/animations.css
  src/styles/global.css
  vitest.config.ts
Due: eslint --fix, prettier --write, cspell

style: fix missing blank lines on markdown files
  src/content/docs/wiki/linux/arch.mdx
Due: cspell

style: fix typos
  src/content/docs/wiki/awesome/index.mdx
  src/content/docs/wiki/awesome/programming-languages/index.mdx
  src/content/docs/wiki/linux/arch.mdx
Due: cspell

test: update playwright configuration
  playwright.config.ts
Due: eslint --fix, prettier --write

test: add homepage navigation tests
  tests/e2e/navigation.spec.ts
Due: eslint --fix, prettier --write

chore: convert logo to webp
  astro.config.mjs
  src/assets/logo.webp
Due: none

test: add portal effects tests
  tests/e2e/portal.spec.ts
Due: eslint --fix, prettier --write

test: add accessibility test for main page
  astro.config.mjs
  package.json
  tests/e2e/accessibility.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

test: add simple accessibility test
  package.json
  playwright.config.ts
  src/components/WaterReflection.astro
  tests/e2e/accessibility.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: cloned elements for reflection should not have href
  src/components/WaterReflection.astro
Due: eslint --fix, prettier --write

style: fix inconsistent quotes on strings
  tests/e2e/navigation.spec.ts
Due: eslint --fix, prettier --write

test: add responsiveness tests
  tests/e2e/responsive.spec.ts
Due: eslint --fix, prettier --write

test: add visual regression tests for main pages
  tests/e2e/__snapshots__/visual-regression.spec.ts/404.png
  tests/e2e/__snapshots__/visual-regression.spec.ts/homepage.png
  tests/e2e/__snapshots__/visual-regression.spec.ts/leisure.png
  tests/e2e/__snapshots__/visual-regression.spec.ts/portfolio.png
  tests/e2e/__snapshots__/visual-regression.spec.ts/wiki.png
  tests/e2e/visual-regression.spec.ts
Due: eslint --fix, prettier --write

feat: add 404 page
  astro.config.mjs
  src/pages/404.astro
Due: eslint --fix, prettier --write

test: add wiki navigation tests
  tests/e2e/wiki-navigation.spec.ts
Due: eslint --fix, prettier --write

feat: add rss feed to wiki content
  package.json
  src/layouts/Layout.astro
  src/pages/rss.xml.ts
  yarn.lock
Due: eslint --fix, prettier --write

test: add theme toggle tests
  tests/e2e/theme-toggle.spec.ts
Due: eslint --fix, prettier --write

chore: normalize href routes
  astro.config.mjs
  src/components/PortalHub.astro
  src/content/docs/wiki/awesome/index.mdx
  src/content/docs/wiki/awesome/programming-languages/index.mdx
  tests/e2e/navigation.spec.ts
  tests/e2e/portal.spec.ts
  tests/e2e/wiki-navigation.spec.ts
Due: eslint --fix, prettier --write, cspell

chore: update favicon
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

chore: update base path
  astro.config.mjs
  src/components/PortalHub.astro
  src/content/docs/wiki/awesome/index.mdx
  src/content/docs/wiki/awesome/programming-languages/index.mdx
  src/pages/404.astro
  src/pages/leisure.astro
  src/pages/portfolio.astro
Due: eslint --fix, prettier --write, cspell

test: update tests to comform to new base path
  playwright.config.ts
  tests/e2e/__snapshots__/visual-regression.spec.ts/404.png
  tests/e2e/__snapshots__/visual-regression.spec.ts/homepage.png
  tests/e2e/__snapshots__/visual-regression.spec.ts/leisure.png
  tests/e2e/__snapshots__/visual-regression.spec.ts/portfolio.png
  tests/e2e/__snapshots__/visual-regression.spec.ts/wiki.png
  tests/e2e/accessibility.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/portal.spec.ts
  tests/e2e/responsive.spec.ts
  tests/e2e/theme-toggle.spec.ts
  tests/e2e/visual-regression.spec.ts
  tests/e2e/wiki-navigation.spec.ts
Due: eslint --fix, prettier --write

ci(deploy): add deployment github action
  .github/workflows/deploy.yml
Due: prettier --write

chore: add release script
  .release-it.json
  package.json
  yarn.lock
Due: prettier --write

docs: add CHANGELOG
  CHANGELOG.md
Due: cspell

chore: add configuration files
  .editorconfig
  .gitattributes
Due: none

chore: update release-it configuration
  .release-it.json
Due: prettier --write

ci(deploy): update deployment action
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): version 0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell

chore: delete Astro starter files
  src/assets/astro.svg
  src/assets/background.svg
  src/components/Welcome.astro
Due: eslint --fix, prettier --write

refactor: extract animation durations to variables
  src/components/AnimatedGreeting.astro
  src/components/MusicalStaff.astro
  src/components/Portal.astro
  src/components/PortalHub.astro
  src/pages/404.astro
  src/pages/index.astro
  src/pages/rss.xml.ts
  src/styles/global.css
  src/utils/rss.ts
  src/utils/time-gradient.ts
Due: eslint --fix, prettier --write

feat: enable CSP
  astro.config.mjs
  mise.toml
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

test: add unit tests
  package.json
  tests/unit/rss.test.ts
  tests/unit/time-gradient.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: update awesome/windows content
  src/content/docs/wiki/awesome/windows.mdx
Due: cspell

build(linker): revert Yarn to using PnP
  .yarnrc.yml
Due: prettier --write

chore: linting fixes and regenerate snapshots
  .vscode/extensions.json
  .vscode/settings.json
  astro.config.mjs
  src/components/IconLinkCard.astro
  src/pages/rss.xml.ts
  tests/e2e/__snapshots__/visual-regression.spec.ts/wiki.png
  tests/e2e/navigation.spec.ts
  tests/e2e/portal.spec.ts
  tests/e2e/wiki-navigation.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: add CI workflow and lighthouse configuration
  .github/workflows/ci.yml
  lighthouserc.json
Due: prettier --write

chore: update configurations
  .github/workflows/ci.yml
  .prettierrc
  .prettierrc.ts
  CHANGELOG.md
  astro.config.mjs
  dictionaries/global-words.txt
  package.json
  src/components/WaterReflection.astro
  src/content/docs/wiki/awesome/windows.mdx
  tests/e2e/navigation.spec.ts
Due: eslint --fix, prettier --write, cspell

Path conditions:
  eslint --fix: any of: *.{js,ts,astro}
  prettier --write: (any of: *.{js,ts,astro}) or (any of: *.{json,yml,yaml})
  cspell: any of: *.{md,mdx}
