Repository Telmooo/miyazono: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell

ci: disable CI on push and playwright/lighthouse
  .github/workflows/ci.yml
Due: prettier --write

ci: add link checker workflow
  .github/workflows/scheduled-links.yml
  .gitignore
  README.md
  lychee.toml
  src/content/docs/wiki/awesome/linux.mdx
  src/styles/global.css
Due: prettier --write, cspell

chore: add react-globe dependency for rendering globe
  astro.config.mjs
  package.json
  yarn.lock
Due: prettier --write

chore: add react integration
  astro.config.mjs
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

ci: add automatic github action update to dependabot
  .github/dependabot.yml
Due: prettier --write

chore: remove unsupported option for github-action ecosystem
  .github/dependabot.yml
Due: prettier --write

style: apply auto formatting
  .github/workflows/scheduled-links.yml
  astro.config.mjs
  tsconfig.json
Due: prettier --write

ci: fix schedule parameter on scheduled-links workflow
  .github/workflows/scheduled-links.yml
Due: prettier --write

fix: broken links reported
  src/content/docs/wiki/awesome/programming-languages/python.mdx
  src/content/docs/wiki/linux/arch.mdx
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write, cspell

chore: update husky configuration and enable it
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

chore: rename lighthouse configuration
  .lighthouserc.json
Due: prettier --write

feat: add country data request to restcountries and trip schema
  src/lib/countries.ts
  src/schemas/trips.ts
Due: eslint --fix, prettier --write

feat: add Dell XPS 9570 BIOS configuration in homelab
  dictionaries/global-words.txt
  src/content/docs/wiki/homelab/dell-xps-bios.mdx
Due: cspell

feat: add portfolio page
  src/components/portfolio/HankoStamp.astro
  src/components/portfolio/InkDivider.astro
  src/components/portfolio/InkParticles.astro
  src/components/portfolio/ScrollScene.astro
  src/content.config.ts
  src/content/portfolio/projects.json
  src/content/portfolio/skills.json
  src/layouts/Layout.astro
  src/pages/portfolio.astro
  src/schemas/portfolio.ts
  src/styles/animations.css
Due: eslint --fix, prettier --write

feat: add trips page with globe render
  .prettierignore
  .vscode/settings.json
  astro.config.mjs
  src/components/react/trips/TravelGlobe.tsx
  src/components/react/trips/TripTooltip.tsx
  src/content.config.ts
  src/content/trips/trips.json
  src/data/trips/ne_110m_admin_0_countries.geojson
  src/lib/countries.ts
  src/pages/leisure/trips.astro
  src/schemas/trips.ts
  src/types/geojson.d.ts
Due: eslint --fix, prettier --write

feat: update "My World" entry page
  src/pages/leisure.astro
Due: eslint --fix, prettier --write

chore: update link checker and fix links
  lychee.toml
  src/content/portfolio/projects.json
Due: prettier --write

chore(deps): fix resolution for conventionalcommits
  package.json
  yarn.lock
Due: prettier --write

chore(deps): add conventional commits preset
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update yarn.lock
  yarn.lock
Due: none

chore(deps): fix resolution on conventionalcommits
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update yarn configuration
  .yarnrc.yml
Due: prettier --write

chore: update scripts and lint-staged
  .lintstagedrc.json
  package.json
Due: prettier --write

chore: update cspell ignored files
  cspell.yml
Due: prettier --write

chore(release): version 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell

ci: fix github action on.event key name
  .github/workflows/deploy.yml
Due: prettier --write

fix: quarantine CSP for further testing
  astro.config.mjs
  src/components/Portal.astro
Due: eslint --fix, prettier --write

chore(release): version 0.2.1
  CHANGELOG.md
  package.json
Due: prettier --write, cspell

chore: change package manager from yarn to pnpm
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  .yarnrc.yml
  README.md
  mise.toml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  yarn.lock
Due: eslint --fix, prettier --write, cspell

feat: update projects content
  src/content/portfolio/projects.json
Due: prettier --write

feat: redesign trip panel when clicking a visited country
  src/components/react/trips/CountryPanel.tsx
  src/components/react/trips/PhotoLightbox.tsx
  src/components/react/trips/TravelGlobe.tsx
  src/components/react/trips/TripTooltip.tsx
  src/pages/leisure/trips.astro
Due: eslint --fix, prettier --write

ci: add automatic release and deploy
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .release-it.json
Due: prettier --write

feat: add cinema page with initial selection of movies and series
  src/components/cinema/CinemaCard.astro
  src/content.config.ts
  src/content/cinema/entries.json
  src/pages/leisure.astro
  src/pages/leisure/cinema.astro
  src/schemas/cinema.ts
Due: eslint --fix, prettier --write

feat!: moving website to my domain
  .lighthouserc.json
  astro.config.mjs
  playwright.config.ts
  src/components/PortalHub.astro
  src/content/docs/wiki/awesome/index.mdx
  src/content/docs/wiki/awesome/programming-languages/index.mdx
  src/content/games/games.json
  src/content/portfolio/projects.json
  src/content/trips/trips.json
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/leisure.astro
  src/pages/leisure/cinema.astro
  src/pages/leisure/gaming.astro
  src/pages/leisure/trips.astro
  src/pages/portfolio.astro
  tests/e2e/accessibility.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/portal.spec.ts
  tests/e2e/responsive.spec.ts
  tests/e2e/theme-toggle.spec.ts
  tests/e2e/visual-regression.spec.ts
  tests/e2e/wiki-navigation.spec.ts
Due: eslint --fix, prettier --write, cspell

Path conditions:
  eslint --fix: any of: *.{js,ts,astro}
  prettier --write: (any of: *.{js,ts,astro}) or (any of: *.{json,yml,yaml})
  cspell: any of: *.{md,mdx}
